@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 100vh;
    /* Ensure full height */
    margin: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    font-family: 'Poppins', sans-serif;
    color: #1f1e1e;
    background-image: url('../public/bcg.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 800px;
    /* Adjust as needed */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Allows scrolling when content exceeds the viewport */
.container {
    max-height: 90vh;
    overflow-y: auto;
}



button {
    margin: 5%;
    padding: 12px 20px;
    background: linear-gradient(135deg, #4ca1af, #2c3e50);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(135deg, #2c3e50, #587c81);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.App {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #1a717e;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
    border: none;
    background: rgba(29, 26, 26, 0.2);
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
}

input[type="file"]:hover {
    background: rgba(36, 32, 32, 0.4);
}

.error {
    color: #ff4d4d;
    font-weight: bold;
    margin-top: 10px;
}

div>h2 {
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin: 5px 0;
}

pre {
    border: 1px solid #222;
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
    black-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
    color: #f4f4f4;
    border-radius: 6px;
}

.file-content {
    height: 50vh;
    justify-content: center;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
    /* Darker background for readability */
    padding: 15px;
    border-radius: 8px;
    color: black;
}



.result {
    background: rgba(146, 176, 220, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.hide {
    display: none;
}

.claim-content {
    background: rgba(240, 248, 255, 0.95);
    padding: 15px;
    border-radius: 8px;
    color: #333;
}

.radio {
    color: #141414;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 15%;
}

:root {
    --primary: #4ca1af;
    --secondary: #2c3e50;
    --light-gray: #6cc8ea;
    --dark-gray: #767676;
}

fieldset {
    border: none;
}

fieldset>label {
    display: inline-block;
    width: 100px;
    line-height: 28px;
}

fieldset>label::after {
    content: ":";
}

select,
details {
    display: inline-block;
    max-width: 100%;
    width: auto;
    min-width: 350px;
    background: rgba(240, 248, 255, 0.95);
    color: black;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* select:hover, summary:hover {
    background: #2c3e50;
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    border: 1px solid var(--dark-gray);
    box-shadow: 0 0 5px 1px var(--light-gray);
}

.custom-dropdown-list {
    text-align: left;
    border: 1px solid var(--dark-gray);
    background: rgba(240, 248, 255, 0.95);
    color: #2b2929;
    border-radius: 6px;
    padding: 10px;
}

.custom-dropdown-list li label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.custom-dropdown-list li label:hover {
    background: var(--primary);
    /* color: black; */
}